*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;  
    color: #fff;
}
main{
    z-index: 1;/*para no interactuar con modal cuando se superponga*/
    overflow: auto;
}
a{
    text-decoration: none;
    color: #fff;
}

#logo{
width: 110px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.5s ease;
    /* background-clip: content-box */
    will-change: background-color;
}

#navbar.navbar_dark {
    background: #000000 !important;
    a{
        color: white;
    }
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    width: 90%;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* modal */

.modal-off{    
    display: none;
}

.modal-on{    
    display: grid;
    grid-template-columns: 1fr minmax(800px, 2fr) 1fr; /*minmax fija un minimo y un maximo para la columna del centro   */
    align-items: center;
    position: fixed;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);/* desenfoque */
    background-color: #000000a7;/* negro c/alpha */
    max-height: 100vh;
    max-width: 100vw;
    z-index: 2;
}

.modal-container{
display: grid;
grid-template-rows: 1fr 1fr;
justify-content: center;
align-items: normal;
position: relative;
width: 100%;
height: 100%;
grid-area: 1/2;
background-color: #141414;
overflow: auto;
}

.ficha-tecnica{
    display: grid;
    color:aliceblue;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 2fr 3fr ;
    span{
        color: #777;
    }
    overflow-y: auto;
    overflow-x: hidden;    
}

.titulo{
    grid-area: 1 / 1 / span 1 / span 2 ;/* ({comienza} fila / columna /{abarca} span fila / span columna) */
    width: 100%;
    align-content: center;
    text-align: left;
    margin: 14px;
}
.argumento{    
    grid-area: 2 / 1 /span 1/span 2;
    width: 100%;
    p{
        font-size: 30px;
        margin: 14px;
    }
}
.elenco{
    grid-area: 3 / 1 / span 1;
    width: 100%;
    margin: 14px;
    font-size: 25px;
    ul{
        list-style: none;
        font-size: inherit; ;
        /* margin: 14px; */
    }
    
}
.tecnicos{
    grid-area: 3 / 2 / span 1;
    width: 100%;
    font-size: 25px;
    margin: 14px;
}

iframe{
    margin-top: 0;
    width: 100%;
    height: 100%;
}

/* mY lIST */
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    transition: all 300ms;
}
.card a{
    width: 100%;
}
.card a img{
    width: 100%;
    margin: 15px;
}

.card:hover{
    transform: scale(1.2);
}

/* @media (max) */