*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

#logo{
width: 110px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    margin: 0;
    padding: 10px;
    transition: background-color 0.5s ease;
    /* background-clip: content-box */
    will-change: background-color;
}

#navbar.navbar_dark {
    background: #000000 !important;
    a{
        color: white;
    }
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    width: 90%;
}

main{
    margin: 0;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* modal */

.modal-off{    
    display: none;
}

.modal-on{    
    display: grid;
    align-items: center;
    position: fixed;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);/* desenfoque */
    background-color: #000000a7;/* negro c/alpha */
    max-height: 100vh;
    max-width: 100vw;
}

.modal-container{
display: grid;
justify-content: center;
align-items: normal;
position: relative;
/* margin:0 auto; */
margin-top: 2.5rem;
margin-left: 1rem;
margin-right: 1rem;
width: 100%;
background-color: #000000;
}

.ficha-tecnica{
    display: grid;
    color:aliceblue;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
}

.titulo{
    grid-area: 1 / 1 / span 1 / span 2 ;/* ({comienza} fila / columna /{abarca} span fila / span columna) */
    width: 100%;
}
.argumento{
    grid-area: 2 / 1 /span 1/span 2;
    width: 100%;}
.elenco{
    grid-area: 3 / 1 / span 1;
    width: 100%;}
.tecnicos{
    grid-area: 3 / 2 / span 1;
    width: 100%;}

iframe{
    margin-top: 0;
    width: 100%;
    height: 50%;
}